body,
html {
    margin: 0;
    padding: 0;
}

.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-color: black;
}

.nav-links {
    padding: 0 1.2em;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
}

.logo-container {
    padding: 0.5em;
}

.logo-container .logo {
    display: block;
}

.nav-links li a {
    text-decoration: none;
    color: white;
}

.nav-links li a:hover {
    text-decoration: underline;
}

.nav-links li {
    margin: 0 0.5rem;
}

.product-page {
    display: flex;
    flex-flow: column wrap;
    width: 100%;
    align-items: center;
}

.product-page h1 {
    margin: 0.5em 0;
    margin-top: 1em;
}

.product-cards {
    width: 70%;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px,300px));
    justify-content: center;
    gap: 1.2em;
    margin-bottom: 2em;
}

.card {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-grow: 1;
    align-items: flex-start;
}

.card input{
    width:20%;
    margin: 1em 0;
    /* margin-top: auto; */
}

.card span{
    background-color: lightcoral;
    padding: 0.3em;
    font-size: 0.7em;
}

.card-img,
img {
   max-width: 100%;
}

.card-body button {
    margin-top: auto;
    border: 1px solid black;
    background-color: rgb(240, 86, 86);
    width: 100%;
}

.card-body button:active{
    background-color: rgb(250, 114, 114);
}

.card-body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 1em;
    padding-bottom: 1em;
}

.card-body h3 {
    margin: 1em 0;
    font-size: 1.3em;
}

.card-body p{
    margin-bottom: 0;
    margin-top: 1em;
}

.search-dropdown{
    display: grid;
    width: 70%;
    gap: 10px;
    grid-template-columns: 2fr 1fr;
    margin-bottom: 3em;
    margin-top: 1em;
    justify-content: center;
    align-items: center;
}

.search-dropdown input[type="text"]{
    padding: 0.3em 0.5em;
    border-radius: 5px;
    border: 0;
    outline: 1px solid black;
}

.search-dropdown select{
    padding: 0.3em 0.5em;
    border-radius: 5px;
    border: 0;
    outline: 1px solid black;
}